@tailwind base;
@tailwind components;
@tailwind utilities;

/*Basic*/
body {
  @apply bg-background text-foreground min-h-screen;
  margin: 0;
  padding: 0;
  min-width: 320px;
  background-size: cover;
  background-position: center;
  position: relative;
}

/* Dark overlay */
body::before {
  content: '';
  @apply absolute inset-0 bg-black opacity-70;
  z-index: 0;
}

/* Buttons */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ccb75c;
}
button:disabled {
  @apply cursor-not-allowed;
}

/* Media queries for responsive */
@media (max-width: 640px) {
  .main-container {
    @apply max-w-sm p-2;
  }
  h1 {
    font-size: 1.5rem;
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scaleIn {
  animation: scaleIn 0.25s ease-out forwards;
}
/* End of index.css */